@media screen and (min-width: 760px) {
    .carrinho{
        width: 30%;
    }

    .avatar{
        width: 50%;
    }

    .preco {
        display: grid;
        grid-template-columns: 15% 15% 1fr ;
        align-items: center;
        justify-items: center;
    }

    .quantidade{
        margin-bottom: 1rem;
    }

    .quantidade .mais, .quantidade .menos{
        width: 10%;
    }
}


@media screen and (min-width: 1000px) {
    body{
        width: 80%;
        margin: auto;
    }

    main{
        margin: 3rem auto;
    }

    /* header */

    .grid-header{
        display: grid;
        grid-template-columns: 20% 1fr 10% 7%;
        padding: 2rem 0rem;
        margin: 1rem;
        border-bottom: 2px solid var( --azul_cinzada_claro);
    }
    
    .menu{
        display: none;
    }
    
    .title{
        order: 0;
    }
    
    .hamburguer{
        display: block;
        order: 1;
        justify-self: start;
    }

    .hamburguer li{
        color: var(--azul_cinzada);
        padding: 1rem;
    }

    ul li:hover{
        color: var(--preto);
        border-bottom: 4px solid var(--orange);
        padding-bottom: 2rem;
    }

    .carrinho{
        order: 2;
        width: 25px;
    }

    .avatar{
        order: 3;
        width: 50px;
        padding: 0;
    }

    .avatar:hover{
        border: 1px solid var(--orange);
        border-radius: 3rem;
    }

    /* body */
    .box-img{
        width: 40%;
        display: inline-block;
    }

    main img{
        border-radius: 1rem;
    }

    .box-text{
        width: 50%;
        vertical-align: top;
        display: inline-block;
    }

    .descricao h3{
        font-size: 0.6rem;
    }

    .descricao h2{
        font-size: 2rem;
    }

    .descricao p{
        font-size: 0.8rem;
        text-align: justify;
        width: 100%;
    }

    .preco{
        grid-template-columns: 30% 1fr;
        grid-template-rows: 3rem 1rem;
        justify-items: start;
    }

    .preco .valor-antigo{
        justify-self: start;
    }

    .box-compra{
        display: grid;
        grid-template-columns: 40% auto;
        justify-items: center;
        align-items: center;
    }

    .quantidade .menos, .quantidade .mais{
        width: 30%;
    }

    .adiciona{
        width: 100%;
    }
}

@media screen  and (min-width: 1000px){
    .box-thumb{
        display: grid;
        grid-template-rows: repeat(4,10px);
        margin: 0;
    }

    .box-thumb li{
        display: inline-block;
        width: 60px;
        margin: 0 0.6rem;
    }

    .box-thumb img{
        border-radius: 6px;
    }
}

@media screen and (min-width: 1250px) {
    .descricao h3{
        font-size: 0.8rem;
    }

    .descricao h2{
        font-size: 2.5rem;
    }
    
    .descricao p{
        font-size: 1rem;
    }
    
    .box-compra{
        margin: 1rem;
    }

    .box-thumb li{
        width: 80px;
    }
}

@media screen and (min-width: 1300px) {
    .descricao h3{
        font-size: 1rem;
    }

    .descricao h2{
        font-size: 3rem;
    }
    
    .box-compra{
        margin: 1rem;
    }

    .box-thumb li{
        display: inline-block;
        width: 80px;
        margin: 0.9rem;
    }
    

    @media screen and (min-width:1500px){
        .box-img{
            width: 45%;
        }
    
        .box-thumb img{
            margin: 1.1rem;
        }

        .box-thumb li{
            width: 100px;
            margin: 1.2rem;
        }


    }

    @media screen and (min-width:1900px){
        .box-img{
            width: 40%;
        }
    
        .box-thumb li{
            width: 100px;
           
        }
    }

    @media screen and (min-width:2000px){
        .box-thumb li{
            width: 155px;
        }
    }


}

