@charset 'UTF-8';

@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root{
    --font-padrao: 'Kumbh Sans', sans-serif;

    --orange: #ff7d1a;
    --laranja_claro: #ffede0;

    --azul_muito_escuro: #68707d;
    --azul_cinzada: #b6bcc8;
    --azul_cinzada_claro:#f7f8fd;
    --branco: #ffffff;
    --preto: #000000;
}

*{
    padding: 0;
    margin: 0;
}

body{
    font-family: var(--font-padrao);
}

/* header */

header{
    display: grid;
    grid-template-columns: 10% 1fr 15% 10%;
    align-items: center;
    justify-items: center;
    padding: 1rem;
}

.hamburguer{
    display: none;
}

li{
    display: inline;
}

.menu{
    padding-top: 0.3rem;
}

.title{
    font-size: 2rem;
    font-weight: 700;
    display: inline;
    margin: 0;
    justify-self: start;
}

.carrinho{
    width: 20px;
    padding-top: 0.3rem;
}

.avatar{
    width: 23px;
    padding-top: 0.3rem;
}

/* dropdown */
.dropdown{
    position: relative;
    display: inline-block;
}

.dropdown-content{
    display: none;
    position: absolute;
    background-color: var(--branco);
    
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-content{
    display: block;
}

/* main */
main img{
    width: 100%;
    position: relative;
}

.previous{
    position: absolute;
    left: 5%;
    top: 250px;
    width: 2.9%;
    padding: 10px 12px;
    background-color: #ffffff;
    border-radius: 10rem;
    z-index: 1;
}

.next{
    position: absolute;
    left: 85%;
    top: 250px;
    width: 3%;
    padding: 10px 12px;
    background-color: #ffffff;
    border-radius: 10rem;
    z-index: 1;
}





section{
    width: 100%;
    margin: auto;
}

h3{
    color: var(--orange);
    text-transform: uppercase;
    font-size: 0.7rem;
    margin: 1rem 0;
}

h2{
    margin: 1rem 0;
    width: 80%;
}

p{
    font-size: 0.9rem;
    line-height: 1.5;
    color: var(--azul_muito_escuro);
    margin: 1rem 0;
}

.box-text{
    margin: 1rem;
}

.preco {
    display: grid;
    grid-template-columns: 35% 15% 1fr ;
    align-items: center;
    justify-items: center;
}


.valor-novo{
    font-size: 1.7rem;
    font-weight: bold;
    color: var(--preto);
    justify-self: start;
}

.desconto{
    color: var(--orange);
    font-size: 1rem;
    padding: 0.2rem;
    font-weight: bold;
    background-color: var(--laranja_claro);
    border-radius: 5px;
}

.valor-antigo{
    font-size: 1rem;
    color: var(--azul_cinzada);
    font-weight: bold;
    justify-self: end;
}

.quantidade{
    display: grid;
    grid-template-columns: 30% 1fr 30%;
    align-items: center;
    justify-items: center;
    width: 80%;
    background-color: var(--azul_cinzada_claro);
    border-radius: 10px;
    margin-bottom: 1rem;
}

.quantidade .menos, .quantidade .mais{
    width: 15%;
    padding:  auto 1rem;
}

.quantidade .valor{
    align-self: center;
    justify-self: center;
    color: var(--preto);
    font-weight: bold;
}

.adiciona{
    background-color: var(--orange);
    color: var(--branco);
    width: 80%;
    height: 3rem;
    border: none;
    border-radius: 0.5rem;
    font-size: 1rem;
    font-weight: bold;
    display: block;
    margin: 1rem auto;
}

button img{
    width: 17px;
    margin-right: 5px;
}

.box-thumb{
    display: none;
}