@charset 'UTF-8';

@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root{
    --font-padrao: 'Kumbh Sans', sans-serif;

    --orange: #ff7d1a;
    --laranja_claro: #ffede0;

    --azul_muito_escuro: #68707d;
    --azul_cinzada: #b6bcc8;
    --azul_cinzada_claro:#f7f8fd;
    --branco: #ffffff;
    --preto: #000000;
}


body{
    font-family: var(--font-padrao);
}

header{
    display: grid;
    grid-template-columns: 10% 1fr 15% 10%;
    align-items: center;
    justify-items: center;
    padding: 0.5rem;
}

.menu{
    padding-top: 0.5rem;
}

.title{
    font-size: 2.5rem;
    font-weight: 700;
    display: inline;
    margin: 0;
    justify-self: start;
}

.carrinho{
    width: 25px;
    padding-top: 0.5rem;
}

.avatar{
    width: 25px;
    padding-top: 0.5rem;
}